.summary_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;

  & .hello {
    font-size: xx-large;
  }

  & .container_desc_btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .description_summary {
    font-size: larger;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
}