.section_summary {
  background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1) 100%), url(/assets/banner.png);
  height: 70vh;
  padding: 12rem 1rem !important;
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.summary_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 520px;

  & .hello {
    font-size: 2rem;
    color: var(--text);
  }

  & .role {
    font-size: 3rem;
    font-family: 'Sora', sans-serif;
  }

  & .container_desc_btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .description_summary {
    font-size: 1.25rem;
    color: var(--text);
  }
}

.buttons {
  display: flex;
  gap: 1rem;
}