.buttons_cv {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.container_figure {
  height: 400px;

  & img {
    filter: drop-shadow(1px 1px 5px var(--secondary));
    object-fit: contain;
  }
}