.container {
  display: flex;
  flex-direction: column;
  height: min-content;
}

.container_logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  & .container_img {
    border-radius: 50%;
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  & p {
    font-weight: 700;
  }
}