.button {
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
  width: max-content;

}

.primary {
  background-color: var(--primary);
  color: var(--text);
}

.secondary {
  background-color: var(--secondary);
  color: var(--background);
  border: 2px solid var(--secondary);

  &:hover {
    background-color: transparent;
    color: var(--text);
  }
}

.danger {
  background-color: var(--info);
  color: var(--text);
  border: 2px solid var(--info);

  &:hover {
    background-color: transparent;
    color: var(--text);
  }
}

.outlined {
  background-color: transparent;
  border: 2px solid var(--secondary);

  &:hover {
    background-color: var(--secondary);
    color: var(--background);
  }
}