.section_projects {
  background: linear-gradient(to bottom, transparent, var(--primary)), url(/assets/bg-section-projects.svg);

  padding-top: 2rem;
  /* padding-bottom: 0px !important; */
}

.container_column {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.container_header_section {
  background-image: linear-gradient(to top, transparent, var(--primary));
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 15px;
  border-radius: 8px 8px 0px 0px;

}