.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: rgba(24, 39, 47, 0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px -1px 0px 0px;
}

.container_header {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.header nav {
  & ul {
    display: flex;
    gap: 2rem;
  }

  & a {
    font-weight: 600;
    color: var(--text);
    text-decoration: inherit;
    cursor: pointer;
    transition: color .2s ease-out;

    &:hover {
      color: var(--secondary);
    }
  }
}

@media only screen and (max-width: 768px) {
  .header nav {
    display: none;
  }

}