@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sora:wght@400;500;700&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--title);
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #17262e;
  --secondary: #fbad34;
  --color-three: #646cff;
  --color-four: #1d3557;
  --background: #1b1b1b;
  --title: #f5f5f5;
  --info: #D34645;
  --text: rgba(221, 221, 221, 0.8666666667);
  --color-green: #00FF85;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: medium;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  font-size: 17px;
  width: 100%;
  background: linear-gradient(180deg, var(--background), var(--primary));

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--primary);
  }
}

img {
  height: 100%;
  width: 100%;
}

section,
footer {
  padding: 50px 0 !important;
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
  cursor: pointer;
  transition: color 0.2s ease-out;

}

a:hover,
.link:hover {
  color: var(--title);
}

figure img[alt^="card-"] {
  transition: 0.2s ease-in-out;
}

figure:hover img[alt^="card-"] {
  filter: brightness(1.08);
  transform-style: preserve-3d;
  transform: translate3d(0px, -5px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.gap-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gap-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gap-3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.gap-0-5 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.text-grey {
  color: var(--text);
}

.text {
  margin: 0;
  line-height: 1.4;
}

.text-secondary {
  color: var(--secondary);
}

.text-info {
  color: var(--info);
}

.text-h1,
.text-h2 {
  font-family: "Sora", sans-serif;
}

.text-h1 {
  font-size: 3rem;
}

.text-h2 {
  font-size: 2rem;
}


.text-green {
  color: var(--color-green);
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.bg-summary {
  background:
    linear-gradient(0deg, rgba(14, 42, 71, .8) 0%, rgba(24, 39, 47, 0.1) 100%),
    url(/assets/banners/banner-profile.webp);

  height: 70vh;
  padding: 12rem 1rem !important;
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

@media only screen and (max-width: 768px) {

  section,
  footer {
    padding: 20px !important;
  }

  .text-h1 {
    font-size: xx-large;
  }

  .text-h2 {
    font-size: x-large;
  }

  .grid {
    padding: 0 0.5rem;
  }

  .bg-summary {
    background-position: 45% 100%;
    background-size: contain;
    padding: 8rem 0 !important;
  }
}

.pulse {
  display: inline-flex;
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-green);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 255, 133, 0.4);
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 255, 133, 0.4);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 255, 133, 0.4);
  }
}